@model Books.Feature.BookCard.Models.BookCardViewModel
@using Glass.Mapper.Sc.Web.Mvc

<div class="col-md">
    <div class="card text-white bg-dark mb-3">
        @Html.Glass().RenderImage(x => x.Image, new
                        {
                         @class = "card-img-top"
                        }, isEditable: true)
        <div class="card-body">
            <p>Author: @Model.Authour</p>
            <p class="card-title">Title: @Model.Title</p>
            <p>Rating: @Model.Rating/5</p>
            <p class="card-text">Description: @Model.Introduction</p>
            @Html.Glass().RenderLink(x => x.Link, new
                    {
                        @class = "btn btn-primary"
                    }, isEditable: true)
        </div>
    </div>
</div>