@using Books.Foundation.Assets
@using Books.Foundation.Assets.Models
@using Books.Foundation.Assets.Service

@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    @Html.Sitecore().VisitorIdentification()
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <div id="main-container">
        <header class="header-static">
            @Html.Sitecore().Placeholder("navbar")
        </header>
        <main role="main">
            @Html.Sitecore().Placeholder("body")
        </main>
        <footer class="bg-dark">
            @Html.Sitecore().Placeholder("footer")
        </footer>
    </div>
</body>
</html>