@using Books.Foundation.Assets
@using Books.Foundation.Assets.Models
@using Books.Foundation.Assets.Service
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderStyles()
    <link rel="stylesheet" href="/Styles/styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/Styles/print.css" media="print" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/equalcolumns.js"></script>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    @Html.Sitecore().VisitorIdentification()
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <div id="main-container">
        <header class="header-static">
            @Html.Sitecore().Placeholder("navbar")
        </header>
        <main role="main">
            @Html.Sitecore().Placeholder("body")
        </main>
        <footer class="bg-dark">
            @Html.Sitecore().Placeholder("footer")
        </footer>
    </div>
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>