@model Books.Feature.BookDetail.ViewlModels.BookViewModel
@using Glass.Mapper.Sc.Web.Mvc

<link href="~/Style/Detail.css" rel="stylesheet" type="text/css" />
<!-- Page Content -->
<div class="container-fluid">
<!-- Heading Row -->
   <div class="row mt-5">
        <div class="col-sm-3 col-md-6 col-lg-4">
            @Html.Glass().RenderImage(x =>x.Img, new
                {
                    @class = "img-fluid rounded mb-4 mb-lg-0"
                }, isEditable: true)
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8">
            <span class="badge badge-secondary">
                <p class="font-weight-light">Title: @Html.Glass().Editable(Model, x => x.Title)</p>
                <p class="font-weight-light">By: @Html.Glass().Editable(Model, x => x.Author)</p>
                <p class="font-weight-light">
                    Published: @Html.Glass().Editable(Model, x => x.PublishDate, new { Format = "dd/MM/yyyy" })
                </p>
            </span>
        </div>
    </div>
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">@Html.Glass().Editable(Model, x=> x.BookReview)</p>
        </div>
    </div>
</div>